In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
brands=pd.read_json('/content/drive/MyDrive/Take Home Assignments/Fetch/brands.json.gz',lines=True,compression='gzip')
receipts=pd.read_json('/content/drive/MyDrive/Take Home Assignments/Fetch/receipts.json.gz',lines=True,compression='gzip')
users=pd.read_json('/content/drive/MyDrive/Take Home Assignments/Fetch/users.json.gz',lines=True,compression='gzip')

In [4]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [5]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [6]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [28]:
print('Number of rows in Users: ',users.shape[0])
print('Number of rows in Brands: ',brands.shape[0])
print('Number of rows in Receiptss: ',receipts.shape[0])

Number of rows in Users:  495
Number of rows in Brands:  1167
Number of rows in Receiptss:  1119

In [7]:
#check for null values

In [8]:
users.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [9]:
brands.isnull().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

In [10]:
receipts.isnull().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [11]:
from datetime import datetime

In [12]:
def extractReceiptItems(df,ser):
  items=[]
  is_null=df[ser].isnull()
  series=df[ser]
  for i in range(len(df)):
    if not is_null[i]:
      norm=pd.json_normalize(series[i])
      receipt_id=pd.DataFrame({'receiptID':[df['_id'][i]]*len(norm)})
      items.append(pd.concat([norm,receipt_id],axis=1))
  return pd.concat(items)

In [13]:
def ConvertDate(row):
  if type(row)==dict:
    d=str(list(row.values())[0])
    return datetime.fromtimestamp(int(d[:10])).strftime('%Y-%m-%d %I:%M:%S %p')
  return row

In [14]:
#Extract IDs/Change from dict to str
brands['_id']=pd.json_normalize(brands['_id'])
receipts['_id']=pd.json_normalize(receipts['_id'])
users['_id']=pd.json_normalize(users['_id'])
#UnNest from column and store to new df
brandCPG=pd.json_normalize(brands['cpg']).reset_index()
brandCPG['BrandID']=brands['_id']
receiptItems=extractReceiptItems(receipts,'rewardsReceiptItemList').reset_index()

In [29]:
brandCPG.head()

   index  $ref                  $id.$oid                   BrandID
0      0  Cogs  601ac114be37ce2ead437550  601ac115be37ce2ead437551
1      1  Cogs  5332f5fbe4b03c9a25efd0ba  601c5460be37ce2ead43755f
2      2  Cogs  601ac142be37ce2ead437559  601ac142be37ce2ead43755d
3      3  Cogs  601ac142be37ce2ead437559  601ac142be37ce2ead43755a
4      4  Cogs  5332fa12e4b03c9a25efd1e7  601ac142be37ce2ead43755e

In [40]:
receiptItems[receiptItems['brandCode'].notnull()]['brandCode']

8                 MISSION
9                   BRAND
150     KRAFT EASY CHEESE
306                 PEPSI
308               DORITOS
              ...
6752                BRAND
6754              MISSION
6824                 VIVA
6846                BRAND
6847              MISSION
Name: brandCode, Length: 2600, dtype: object

In [15]:
#Columns with Json date
users_date_col=['createdDate','lastLogin']
receipts_date_col=['createDate','dateScanned','dateScanned','finishedDate','modifyDate','pointsAwardedDate','purchaseDate']

In [16]:
#Convert from Json date to datetime
for i in users_date_col:
  users[i]=users[i].apply(ConvertDate)

for i in receipts_date_col:
  receipts[i]=receipts[i].apply(ConvertDate)

In [17]:
#Check Duplicates

In [21]:
brands.drop(columns='cpg').duplicated().sum()

0

In [23]:
users.duplicated().sum()

283

In [26]:
receipts.drop(columns='rewardsReceiptItemList').duplicated().sum()

0